<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Home</h2>
    <h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
      consectetur expedita et. Rerum, a. Minus quaerat sapiente nesciunt ipsum
      perferendis hic enim voluptatem repellat eligendi voluptate! Sapiente
      tempora distinctio blanditiis.
    </h2>
    <a href="/about">About </a>
  </body>
</html>
